In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('11-25.csv')

In [5]:
df

,espn_name,sr_name,kp_name,KenPomRank,KenPomVal,BPIrank,BPIval,SRS,o_eff,d_eff,ppg,papg,Pace,Three_Par,True_Shoot,Tov,Opp_Three_Par,Opp_True_Shoot,Opp_Tov,record_date
0,Abilene Christian,Abilene Christian,Abilene Christian,128,3.57,150,0.8,-4.07,97.91,99.55,75.3,57.0,75.6,0.335,0.545,18.8,0.335,0.473,28.3,2020-12-03 13:53:02
1,Air Force,Air Force,Air Force,256,-8.11,313,-6.6,-3.42,88.54,98.16,55.5,62.0,61.8,0.511,0.550,22.3,0.518,0.502,13.3,2020-12-03 13:53:02
2,Akron,Akron,Akron,143,1.64,124,2.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-03 13:53:02
3,Alabama,Alabama,Alabama,49,16.05,67,5.5,5.46,101.06,92.37,79.8,71.0,75.6,0.485,0.527,13.9,0.407,0.499,17.6,2020-12-03 13:53:02
4,Alabama A&M,Alabama A&M,Alabama A&M,340,-17.78,322,-7.2,0.00,97.59,97.59,78.0,76.0,79.6,0.345,0.595,22.5,0.343,0.484,15.1,2020-12-03 13:53:02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,Wofford,Wofford,Wofford,140,1.83,141,1.2,NaN,NaN,NaN,99.5,43.0,70.9,0.375,0.664,13.8,0.480,0.389,23.5,2020-12-03 13:53:02
343,Wright State,Wright State,Wright St.,113,5.34,151,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-03 13:53:02
344,Wyoming,Wyoming,Wyoming,197,-3.04,315,-6.9,-7.58,87.45,87.70,88.3,73.3,72.6,0.459,0.601,12.3,0.307,0.517,15.8,2020-12-03 13:53:02
345,Xavier,Xavier,Xavier,63,12.99,37,7.1,12.89,106.20,86.43,81.2,63.2,71.1,0.347,0.576,15.0,0.353,0.424,15.0,2020-12-03 13:53:02
346,Youngstown State,Youngstown State,Youngstown St.,186,-2.34,217,-2.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-03 13:53:02

In [6]:
df['random_column'] = df['KenPomVal'] * df['BPIval']

In [7]:
df

,espn_name,sr_name,kp_name,KenPomRank,KenPomVal,BPIrank,BPIval,SRS,o_eff,d_eff,...,papg,Pace,Three_Par,True_Shoot,Tov,Opp_Three_Par,Opp_True_Shoot,Opp_Tov,record_date,random_column
0,Abilene Christian,Abilene Christian,Abilene Christian,128,3.57,150,0.8,-4.07,97.91,99.55,...,57.0,75.6,0.335,0.545,18.8,0.335,0.473,28.3,2020-12-03 13:53:02,2.856
1,Air Force,Air Force,Air Force,256,-8.11,313,-6.6,-3.42,88.54,98.16,...,62.0,61.8,0.511,0.550,22.3,0.518,0.502,13.3,2020-12-03 13:53:02,53.526
2,Akron,Akron,Akron,143,1.64,124,2.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-03 13:53:02,3.444
3,Alabama,Alabama,Alabama,49,16.05,67,5.5,5.46,101.06,92.37,...,71.0,75.6,0.485,0.527,13.9,0.407,0.499,17.6,2020-12-03 13:53:02,88.275
4,Alabama A&M,Alabama A&M,Alabama A&M,340,-17.78,322,-7.2,0.00,97.59,97.59,...,76.0,79.6,0.345,0.595,22.5,0.343,0.484,15.1,2020-12-03 13:53:02,128.016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,Wofford,Wofford,Wofford,140,1.83,141,1.2,NaN,NaN,NaN,...,43.0,70.9,0.375,0.664,13.8,0.480,0.389,23.5,2020-12-03 13:53:02,2.196
343,Wright State,Wright State,Wright St.,113,5.34,151,0.7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-03 13:53:02,3.738
344,Wyoming,Wyoming,Wyoming,197,-3.04,315,-6.9,-7.58,87.45,87.70,...,73.3,72.6,0.459,0.601,12.3,0.307,0.517,15.8,2020-12-03 13:53:02,20.976
345,Xavier,Xavier,Xavier,63,12.99,37,7.1,12.89,106.20,86.43,...,63.2,71.1,0.347,0.576,15.0,0.353,0.424,15.0,2020-12-03 13:53:02,92.229
346,Youngstown State,Youngstown State,Youngstown St.,186,-2.34,217,-2.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-03 13:53:02,5.382